@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img {
  object-fit: cover;
}
body {
  background-color: white !important;
}
.active {
  color: #ffb921 !important;
  background-color: #aaaaaa1c !important;
}
button {
  transition: 1s;
}

/* best sellign */
@media (max-width: 912px) {
  .selling-cont {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1000px) {
  .navbar .flex-none.lg\\:hidden {
    display: none;
  }
}
/* ============================ MODERN HOME SECTION IN HOME PAGE */
/*  */
@media (max-width: 639px) {
  .figures-modern {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* تحديد 12 عمود */
    gap: 1rem; /* تباعد بين العناصر */
  }
  .figures-modern figure {
    width: 90vw !important; /* يأخذ عرض الشاشة الكلي */
    grid-column: span 12; /* يشغل 12 من الأعمدة */
  }
}
