@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{

  background-color: white !important;
}
.active {
  color: #ffb921 !important;
  background-color: #aaaaaa1c !important;
}
button{
  transition: 1s;
}
/* shoping slider section */
@media(max-width:639px){
  .shoping-slider{
    /* background-color: #ffb921 !important;
     */
     /* width: 250px !important; */
  }
}
/* best sellign */
@media(max-width:912px){
.selling-cont{
  
  margin-bottom: 3rem;
}
}




@media (min-width: 1000px) {
  .navbar .flex-none.lg\\:hidden {
    display: none;
  }
}
